# Python & env
__pycache__/
*.pyc
.venv/

# Data & outputs (DO NOT push)
data/
data_balanced/
outputs/
runs/
checkpoints/

# Model weights & large artifacts
*.pth
*.pt
*.onnx
*.onnx.tar
*.zip
*.7z
*.rar
*.mp4
